<div>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
      <li class="list-group-item list-group-item-info">Lupin the third, a womanizing rich person who steals for no reason.<li/>
      <li class="list-group-item list-group-item-info"> The second longest running cartoon in history!</li>
      </ul>
    </div>
    <div class="col-md-4">
        <center><img src="http://1.bp.blogspot.com/-NEmHwVnsFFY/TlGQn3wvZ2I/AAAAAAAAAWE/OuY--6pRc4Q/s1600/lupin-third-group-shot-hero-envy.jpg" height="250" width="250"></center>
    </div>
  </div>
</div>
